html,
body,
#viewDiv {
    padding: 5px;
    margin: 0;
    height: 85%;
    width: 85%;
}

#logo {
    position: absolute;
    width: 175px;
    height: 125px;
    top: 20px;
    right: 5px;
}

.texts {
    padding: 0;
    display: none;
}

